.container {
  background-image: url(../../../../assets/icons/main-bg.svg);
  background-repeat: no-repeat;
  background-position: top;
  height: 380px;
  width: 100%;
  background-size: 1500px;
  .wrapper {
    padding-top: 100px;
    @media (max-width: 991px) {
      padding-top: 160px;
    }
    .breadCrumb {
      background-color: rgba(255, 255, 255, 0.211);
      padding: 10px 15px;
      width: 160px;
      border-radius: 30px;
      display: flex;
      gap: 10px;
      @media (max-width: 991px) {
        display: none;
      }
      span {
        font-size: 14px;
        color: #ddd;
        &:nth-child(1) {
          cursor: pointer;
          &::after {
            content: ">";
            padding-left: 10px;
          }
        }
      }
    }
  }
}
