.container {
  background-image: url(../../../../assets/icons/main-bg.svg);
  background-repeat: no-repeat;
  background-position: top;
  height: 380px;
  width: 100%;
  background-size: 1500px;
  .wrapper {
    padding-top: 100px;
    @media (max-width: 991px) {
      padding-top: 160px;
    }
    
  }
}
