@import "../../../../styles/global";
.container {
  background-color: #005688;
  .wrapper {
    text-align: center;
    padding: 70px 0;
    @media (max-width: 601px) {
      padding: 20px;
    }
    .form {
      padding-top: 50px;
      display: grid;
      grid-template-columns: auto auto;
      gap: 20px;
      max-width: 800px;
      margin: 0 auto;
      @media (max-width: 767px) {
        max-width: 700px;
      }
      @media (max-width: 601px) {
        max-width: 530px;
      }
      .input {
        grid-column: 1/3;
        resize: none;
        outline: none;
        font-size: 16px;
        padding: 10px 10px 80px 10px;
        border-radius: 2px;
        border: none;
      }
      input {
        padding: 15px;
        font-size: 16px;
        outline: none;
        border-radius: 2px;
        border: none;
        @media (max-width: 767px) {
          grid-column: 1/3;
        }
      }
    }
    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 20px 0;
      p {
        color: $white;
        b:hover {
          border-bottom: solid 1px #fff;
          cursor: pointer;
        }
      }
    }
    button {
      padding: 15px 30px;
      background-color: $red;
      border: none;
      color: $white;
      font-size: 16px;
      font-weight: 700;
      border-radius: 5px;
      transition-duration: 400ms;
      &:hover {
        background-color: $darkRed;
        cursor: pointer;
      }
    }
  }
}
