@import "../../styles/global";
.navigation {
  background-color: transparent;
  z-index: 20;
  position: fixed;
  width: 100%;
  transition-duration: 400ms;
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 150px;
      height: auto;
      img {
        width: 100%;
      }
    }
    ul {
      display: flex;
      gap: 5px;
      @media (max-width: 991px) {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          &:hover {
            text-decoration: underline;
          }
        }
        i {
          color: #fff;
        }
      }
      li {
        font-weight: 700;
        font-size: 18px;
        color: $white;
        cursor: pointer;

        a {
          font-weight: 700;
          font-size: 18px;
          color: $white;
          cursor: pointer;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      .contact {
        padding: 10px 14px 9px;
        font-size: 16px;
        font-weight: 700;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        cursor: pointer;
        border-radius: 5px;
        transition-duration: 400ms;
        &:hover {
          background-color: $blue;
        }
        @media (max-width: 991px) {
          margin-right: 20px;
        }
      }
      img {
        display: none;
        @media (max-width: 991px) {
          display: block;
        }
      }
    }
    .resMenu {
      position: fixed;
      top: -5000px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.5s;
      ul {
        display: block;
        li,
        li a {
          color: #000;
        }
      }
    }
    .resMenu2 {
      position: fixed;
      padding: 0 20px;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.5s;
      .resContainer {
        display: flex;
        justify-content: space-between;
        .btns {
          display: flex;
          align-items: center;
          button {
            padding: 10px 14px 9px;
            font-size: 16px;
            font-weight: 700;
            color: $white;
            background-color: $red;
            border: 1px solid $white;
            cursor: pointer;
            border-radius: 5px;
            transition-duration: 400ms;
            &:hover {
              background-color: $darkRed;
            }
            @media (max-width: 991px) {
              margin-right: 20px;
            }
          }
        }
      }
      .resTitles {
        text-align: center;
        display: grid;
      }
      ul {
        padding-top: 30px;
        li,
        li a {
          color: #000;
        }
      }
    }
  }
}

.navigation2 {
  background-color: #fff;
  z-index: 20;
  position: fixed;
  width: 100%;
  transition-duration: 400ms;
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 150px;
      height: auto;
      img {
        width: 100%;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 5px;
      @media (max-width: 991px) {
        display: none;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          &:hover {
            text-decoration: underline #000;
          }
        }
      }
      li {
        font-weight: 700;
        font-size: 18px;
        color: $black;
        cursor: pointer;
        a {
          font-weight: 700;
          font-size: 18px;
          color: $black;
          cursor: pointer;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      .contact {
        padding: 10px 14px 9px;
        font-size: 16px;
        font-weight: 700;
        color: $white;
        background-color: $red;
        border: 1px solid $white;
        cursor: pointer;
        border-radius: 5px;
        transition-duration: 400ms;
        &:hover {
          background-color: $darkRed;
        }
        @media (max-width: 991px) {
          margin-right: 20px;
        }
      }
      img {
        display: none;
        @media (max-width: 991px) {
          display: block;
        }
      }
    }
    .resMenu {
      position: fixed;
      z-index: 10;
      top: -5000px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.5s;
      ul {
        display: block;
        li,
        li a {
          color: #000;
        }
      }
    }
    .resMenu2 {
      position: fixed;
      z-index: 10;
      padding: 0 20px;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.5s;
      .resContainer {
        display: flex;
        justify-content: space-between;
        .btns {
          display: flex;
          align-items: center;
          button {
            padding: 10px 14px 9px;
            font-size: 16px;
            font-weight: 700;
            color: $white;
            background-color: $red;
            border: 1px solid $white;
            cursor: pointer;
            border-radius: 5px;
            transition-duration: 400ms;
            &:hover {
              background-color: $darkRed;
            }
            @media (max-width: 991px) {
              margin-right: 20px;
            }
          }
        }
      }
      .resTitles {
        text-align: center;
        display: grid;
      }
      ul {
        padding-top: 30px;
        li,
        li a {
          color: #000;
        }
      }
    }
  }
}
