.container {
    background-image: url("../../../../assets/images/backgroundImg/Adtech&Marketing.svg");
    background-repeat: no-repeat;
    background-position: top;
    height: 1000px;
    width: 100%;
    background-size: 3000px;
}