.container {
  background-color: #003859;
  .wrapper {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    padding: 100px 0;
    column-gap: 30px;
    @media (max-width: 1325px) {
      column-gap: 18px;
    }
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
    }
    .about {
      grid-column: 1/3;
      @media (max-width: 991px) {
        text-align: center;
      }
      img {
        width: 150px;
        height: auto;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: 20px;
        @media (max-width: 991px) {
          justify-content: center;
        }
        img {
          width: 20px;
          height: 20px;
          opacity: 0.5;
        }
        p {
          color: #fff;
        }
      }
      .networks {
        display: flex;
        gap: 10px;
        align-items: center;
        @media (max-width: 991px) {
          justify-content: center;
        }
        span {
          background-color: #002d47;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          padding: 10px;
          transition-duration: 400ms;
          &:hover {
            background-color: #00243a;
            cursor: pointer;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    ul {
      li {
        color: #fff;
        padding-top: 20px;
        &:nth-child(1) {
          font-weight: 700;
          font-size: 20px;
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
  hr {
    border: 1px solid rgba(221, 221, 221, 0.421);
  }
  span {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    padding: 40px 0;
  }
}
